footer {
    margin-top: auto;
    z-index: 1;
}

.enlaceGithub{
    color: var(--color-texto); 
    text-decoration: none;
}

.enlaceGithub:hover {
    color: var(--color-hover-acento); 
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.iconos{
    font-size: 1.5rem;
    text-decoration: none;
}

.iconos:hover {
    color: var(--color-hover-acento) !important;
}

@media(max-width: 1100px){
    .social-icons{
        flex-direction: column;
        gap: 1rem;
    }
}